---
layout: false
eleventyExcludeFromCollections: true
pagination:
  data: campaign.nextGatherings
  size: 1
  alias: gathering
permalink: "/calendar/{{ gathering.eventId }}.ics"
---
{{- gathering | icsGathering | safe -}}
